<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href={{url_for('static', filename='css/main.css')}}>
    <title>Stardust</title>
</head>
<body>
    <div class = "container">
         <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="{{ url_for('static',filename='images/logo.png')}}" alt="" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{url_for('index')}}">Home</span></a>
                <a class="nav-item nav-link" href="{{url_for('faceapp')}}">FaceApp</a>
              </div>       
            </div>
          </nav>

    </div>
   

    {%block bodyblock%}
    
   
    {% endblock%}


<!-- footer -->
<footer class="footer">
    <div class="container">
        <img src="{{ url_for('static',filename='images/white_logo.png')}}" alt="" width="50" height="50">
        <p align="center">
            <span style="color:aliceblue">
            copyrights Stardust All Rights Reserved
        </span>
        </p>
    </div>


</footer>
<style>
    .footer{
        position: fixed;
        left:0;
        bottom:0;
        width: 100%;
        background-color:cadetblue; 
        padding-top: 40px;
        padding-bottom: 20px;
    };

    .content{
        color:steelblue;
    }
</style>


    
</body>
</html>